.my-like-button {
  width: 5em;
  border-radius: 0.25em;
  border-width: 0.05em;
  border-style: solid;
  border-color: rgb(105, 105, 105);
}

.fa-heart {
  color: white;
}

.heart-animation {
  animation: expand 0.25s linear none;
}

@keyframes expand {
  0% {
    font-size: 0.1rem;
    transform: rotate(0deg);
  }

  100% {
    font-size: 1rem;
    transform: rotate(360deg);
  }
}
