.my-toast {
  background-color: rgb(106, 106, 241);
  color: white;
  position: fixed;
  z-index: 3;
  top: 75vh;
  left: 35vw;
  text-align: center;
  width: fit-content;
  height: fit-content;
  padding: 1em;
  border-radius: 2em;
}

.my-toast p {
  margin-bottom: 0;
  font-weight: 500;
}

/* animations don't work for some reason on github pages */
/* .my-toast-animation {
  display: block;
  animation: notify 3s normal forwards;
}

@keyframes notify {
  0% {
    opacity: 100%;
  }

  66% {
    opacity: 100%;
  }

  100% {
    display: none;
    opacity: 0%;
  }
} */

@media screen and (min-width: 720px) {
  .my-toast {
    top: 75vh;
    left: 42vw;
  }

  @media screen and (min-width: 1024px) {
    .my-toast {
      top: 75vh;
      left: 45vw;
    }
  }
}
